$font-sizes: (12: 12px, 14: 14px, 16: 16px, 18: 18px, 21: 21px, 26: 26px, 36: 36px, 44: 44px, 48: 48px);
$line-height: (29: 29px);

$theme-colors: (
    "white": #ffff,
    "neve":#F9FAFC,
    "Ui-Color-Primary": #2648A1,
    "Gray-6": #F2F2F2,
    "Ui-Color-Alert-Dark": #FAB900,
    "Aco": #273444,
    "Prata": #3C4858,
    "Prata-2": #707C8C,
    "fique":  rgba(210, 220, 233, 0.15),
    "Ui-Color-Primary-Dark": #224586,
    "transparent": transparent,
    "footer": #5066A1,
    "Gray": #8492A6,
    "Neve-Extra-Dark": #E5E9F2
  );
  $spacer: 1rem;
  $spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    "awe-90": $spacer * 5.5,
    "awe-12": $spacer * .75,
    "awe-36": $spacer * 2.25
  );
  $form-select-bg: white;
  $form-select-indicator:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#C2D1D9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
  $breadcrumb-padding-y:1rem;
  $font-weight-bolder: 500;